body{background-color:powderblue;}
h1{color:blue; font-size:50;
font-style:oblique;
text-align:center
}
	p{background-color:purple;
	color:white;
	text-align:center;}
	li{color:red;}
	img{border-style:groove;
	border-width:20;}